*
{
    -webkit-touch-callout: none;  /* Disable element selection in app */
    -webkit-user-select: none;    /* Disable text selection in app */ 
}

#gameArea {
  position: absolute;
  left:     50%;
  top:      50%;
}

#mcanvas
{
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
}
			
#loadingMessage
{
	position:absolute;
	top:100px;
	left:100px;
	z-index:100;
	font-size:50px;
}

#gui
{
position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 0px;
z-index: 1;
}

#settings
{
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url("../Images/GUI/settings.png");
	right: 1%;
	bottom: 2%;
}

#timelinebar
{
	position: absolute;
	width: 70%;
	height: 40px;
	left: 2%;
	top: 20px;
}
#timeline
{
	position: absolute;
	width:100%;
	height: 100%;
	border-radius: 15px;
	opacity: .8;
	border: 3px solid black;
}

.shine
{
	background-color: red;
	position: absolute;
	width: calc(100% - 10px);
	left: 8px;
	height: 55%;
	top: 3px;
	border-radius: 10px;
	opacity: .3;

}

#coinbar
{
	position: absolute;
	width: 21%;
	height: 40px;
	right: 2%;
	top: 20px;
	max-width: 200px;
	border-radius: 20px;
}

#coins
{
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px solid black;
	border-radius: 20px;
}

#coinnumber
{
	font-size: 2.5em;
	margin-left: 35%;
	/*font-family: 'Oxygen', sans-serif;*/
	top: -5px;
	left: -32px;
	position: absolute;
	/*letter-spacing: 2px;
	text-shadow: 2px 2px #444444;*/
	z-index: 1;
}

#coinicon{
	position: absolute;
	width: 50px;
	height: 50px;
	top: -3px;
	right: -10px;
	background-image: url("../Images/GUI/coinicon.png")
}

#leftbar
{
	/*background-color: yellow;*/
	position: absolute;
	width: 10%;
	height: 70%;
	left: 0%;
	top: 20%;
}

.baricons{

}

#bankicon
{
	
	position: absolute;
	background-image: url("../Images/GUI/bankicon.png");
	width: 89px;
	height: 100px;
	top: 0px;

}

#hammericon
{
	position: absolute;
	background-image: url("../Images/GUI/hammericon.png");
	width: 89px;
	height: 100px;
	top: 33%;
	left: 0px;
}

#qrcodeicon
{
	position: absolute;
	background-image: url("../Images/GUI/qrcodeicon.png");
	width: 89px;
	height: 100px;
	top: 66%;
}

/* Menus */
#bankMenu, #buildMenu, #qrcodeMenu, #settingsMenu
{
	position: absolute;
	left: 9%;
	top: 5%;
	width: 86%;
	height: 80%;
	background-color: gray;
	opacity: 0;
	border: 1px solid black;
	border-radius: 15px;
}